RemoteStartWebApp/bin/
RemoteStartWebApp/obj/
SocketsExchangeService/SocketsExchangeService/bin/
SocketsExchangeService/SocketsExchangeService/obj/
SocketsExchangeService/SocketsExchangeService/bin/Debug/SocketsExchangeService.exe
SocketsExchangeService/SocketsExchangeService/bin/Debug/SocketsExchangeService.pdb
